html,
body {
  background-color: #222;
}

* {
  box-sizing: border-box;
  margin: 0;
  color: #fff;
}

.App {
  display: grid;
  grid-template-columns: 540px 1fr;
  height: 100vh;
  background-color: #222;
  font-family: sans-serif;
  text-align: center;
}

button {
  font-weight: 600;
  color: white;
  border: none;
  outline-color: transparent;
  outline-style: none;
  cursor: pointer;
  padding: 14px 10px;
  width: 400px;
  background: #333;
  border-radius: 6px;
}

button:hover {
  background: #444;
}

main {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  /* justify-content: center; */
  align-items: center;
  overflow: auto;
}

main > * {
  margin-bottom: 10px;
}

.logs {
  font-family: monospace;
  text-align: left;
  margin: 0;
  background: #000;
  color: #fff;
  overflow: auto;
  padding: 20px;
  width: 100%;
}
.log {
  line-height: 1.5;
}
